* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .nav-first-half {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 95%;
}

 .logo {
    flex-grow: 1;
    align-self: center;
    text-align: center;
}

.logo a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #202020;
}

.icon {
    width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-name {
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.cart-name p {
    font-size: 1rem;
    font-weight: 300;
    color: #202020;
    margin: 0px 0px 4px;
}

.title2 {
    font-size: 12px;
    color: #757575;
    margin-top: 5px;
}

 form .section1 .account-info {
    font-size: 13px;
    color: #202020;
    margin: 10.79px 0px;
}

form .section1 .email {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.placeholder {
    position: absolute;
    top: 10px;
    left: 0px;
    transition: 0.3s;
    color: #757575;
    font-size: 14px;
}


  input:focus+.placeholder {
    top: -10px;
}

form .section1 .email .email-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}

form .section1 .phone {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

form .section1 .phone .phone-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}




 form .section1 .shipping-info {
    font-size: 13px;
    color: #202020;
    margin: 20px 0px;

}

form .section1 .address {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

form .section1 .address .address-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}

form .section1 .city {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}


 form .section1 .city .city-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}

form .section1 .state-zip {
    display: flex;
    column-gap: 15px;
}

form .section1 .state-zip .state {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 50%;
}

form .section1 .state-zip .state .st {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;

}

  form .section1 .state-zip .zip {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 50%;
}

form .section1 .state-zip .zip .zp {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;

}

form .section2 .payment-method {
    font-size: 13px;
    color: #202020;
    margin: 10.79px 0px;
}

form .section2 .cardholder {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

form .section2 .cardholder .cardholder-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}


  form .section2 .cardno {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

form .section2 .cardno .cardno-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}

form .section1 .country {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

form .section1 .country .option-list {
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    border: none;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid lightgray;
}





 .placeholder1 {
    position: absolute;
    top: -18px;
    left: 2px;
    transition: 0.3s;
    color: #757575;
    font-size: 14px;
}

form .section1 .billing-info {
    font-size: 13px;
    color: #202020;
    margin: 20px 0px;

}


 form .section1 .checkbox {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

form .section1 .checkbox .billing-address-checkbox-label {
    font-size: 13px;
    color: #202020;
    padding-left: 10px;

}

form .section2 .expiry {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    column-gap: 5px;
}

form .section2 .expiry .option-list2 {
    font-size: 16px;
    border: none;
    background-color: white;
    width: 33%;
    border-bottom: 1px solid lightgray;
}

form .section2 .expiry .option-list3 {
    font-size: 16px;
    border: none;
    background-color: white;
    width: 33%;
    border-bottom: 1px solid lightgray;
}

form .section2 .cvv {
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
}

form .section2 .cvv .cvv-info {
    padding: 15px 0px;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
}

.placeholder2 {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s;
    color: #757575;
    font-size: 14px;
}

input:focus+.placeholder2 {
    top: -10px;
}

form .section2 .order-summary {
    font-size: 13px;
    color: #202020;
    margin: 10.79px 0px;
}


form .section2 .order-history {
    display: flex;
    flex-direction: column;
    width: 100%;
}


form .section2 .order-history .order {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

form .section2 .order-history .order .name {
    flex-grow: 1;
    font-size: 13px;
    color: #202020;
}

form .section2 .order-history .order .rate {
    font-size: 13px;
    color: #202020;
}

form .section2 .total-summary{
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

form .section2 .total-summary .name {
    flex-grow: 1;
    font-size: 13px;
    color: #202020;
}

    form .section2 .total-summary .rate {
    font-size: 13px;
    color: #202020;
}

.checkout-button{
    border: 2px solid #000;
    background-color: #ffffff;
    padding: 8px 44px;
}
.checkout-button a{
    color: #202020;
    text-decoration: none;
    font-size: 14px;
}



@media screen and (min-width:769px) {


    .mobile-menu {
        display: none;
    }

    .left-blank {
        width: 2.5rem;
        height: 100%;
    }

    .body-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    footer {
        text-align: center;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    footer .link {
        text-decoration: none;
        color: gray;
    }

    .demo {
        box-sizing: border-box;
        width: 120px;
        padding: 6px;
        background-color: #202020;
        color: white;
    }

    .demo1 {
        box-sizing: border-box;
        width: 120px;
        padding: 6px;
        margin: 8px auto;
        background-color: #202020;
        color: white;
    }


    .add-to-cart1 {
        display: none;
    }

    .extra-space2 {
        width: 100%;
        height: 50px;
        background-color: white;
    }

    form {
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        column-gap: 20px;
    }

    form .section1 {
        width: 50%;
        height: auto;

    }

    form .section2 {
        width: 50%;
        height: 800px;
    }

    .ham{
        display: none;
    }
}

@media screen and (max-width:768px) {

    .left-blank {
        width: 2.5rem;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 2px;
        margin-top: 22px;
    }

    .left-blank span {
        height: 2px;
        width: 60%;
        background-color: black;
        border-radius: 25px;




    }

    .ham{
        width: 2.5rem;
        height: 100%;
    }

    .mobile-menu {
        display: none;
        padding-top: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        width: 256px;
        background-color: white;
    }

    .mobile-menu div {
        display: block;
        padding: 0 16px;
        line-height: 40px;
    }

    .mobile-menu div a {
        text-decoration: none;
        color: gray;
        cursor: pointer;
        font-size: 13px;
    }

    .nav-second-half {
        display: none;
    }

    footer {
        text-align: center;
        position: relative;
        bottom: 0;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .demo {
        box-sizing: border-box;
        width: 120px;
        padding: 6px;
        margin: 8px auto;
        background-color: #202020;
        color: white;
    }

    .title {
        font-size: 12px;
        color: #757575;
        margin-top: -20px;
    }

    .extra-space{
        display: none;
    }

    .link{
        display: none;
    }

    .demo1{
        display: none;
    }
    .add-to-cart{
        display: none;
    }
    .add-to-cart1{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .add-to-cart1 button{
        font-size: 13px;
        color: white;
        padding: 8px 44px;
        background-color: #172c50;
        font: 14px Arial;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .add-to-cart1 button a{
        text-decoration: none;
        color: white;
    }

    .extra-space{
        display: none;
    }

    .link{
        display: none;
    }

    .demo1{
        display: none;
    }
    .add-to-cart{
        display: none;
    }
    .add-to-cart1{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .add-to-cart1 button{
        font-size: 13px;
        color: white;
        padding: 8px 44px;
        background-color: #172c50;
        font: 14px Arial;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .add-to-cart1 button a{
        text-decoration: none;
        color: white;
    }


    .body-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color:white;
    }

    form {
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    form .section1 {
        width: 100%;
        height: auto;

    }

    form .section2 {
        width: 100%;
        height: 800px;
    }
}